/* 
Project Name: Event Page
Client: PureWow
Author: Benjamin Aplin
*/

/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
   -moz-box-sizing: border-box; /* Firexfox */
   -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
   box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
 color: #000;
 font-size: 12px;
 line-height: 1.4;
 font-family: Helvetica, Arial, sans-serif;
 outline-color: rgba(0, 0, 0, 0);
 border-color: rgba(0, 0, 0, 0);
 padding-top: 70px;
}

/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
.container {
   margin: 0 auto;
   padding: 5px;
}

/******************************************
/* NAV                  
/*******************************************/

.nav li a {
  width: 10%;
  padding-left: 0;
}

.nav li a:nth-child(2) {
  width: 10%;
  padding-left: 0;
}

.social-share {
  width: 8.438em;
  height: auto;
}
.nav-bar-text {
  font-family: 'Scheherazade', serif;
  font-size: 1.313em;
  padding: 20px 0 21px 12px;
  border-left: 1px grey solid;
  color: #383E3E;
}

.nav-container {
  height: 63px;
  overflow: hidden;
}

/******************************************
/* HEADER/BANNER                  
/*******************************************/

.header-image-container {
    background: url(../images/header-sized.jpeg);
    background-size: 100% 100%;
    min-height: 362px;
    min-width: 320px;
    background-repeat: no-repeat;
    position: relative;
    top: -6px;
  }

.header-text {
    margin: 0px 15% 0 15%;
    position: absolute;
    top: 100px;
    min-width: 288px;
    text-align: center;
    color: #FFFFFC;
    width: 70%;
}

.header-text h1 {
  text-align: center;
  font-family: 'Scheherazade', serif;
  font-size: 6.250em;
  letter-spacing: 0.031em;
}

.header-text h3 {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;  
  letter-spacing: 0.163em;
  margin: 0 auto;
  position: relative;
  bottom: 23px;
}

.header-text h4 {
  font-size: 0.688em;
  letter-spacing: 2.6px;
  padding-top: 25px;

}
#see-photos {
  padding-top: 40px;
}
#see-photos i.material-icons {
  color: #EDE7E4;
  font-size: 66px;
}

#arrow-down {
  color: #EDE7E4;
}
/******************************************
/* IMAGES                  
/*******************************************/

.photo-grid {
  margin: 1em auto;
  max-width: 1106px;
  text-align: center;
}

.event-image {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 1em;
  width: 289px;
  height: 250px;
}

.photo-grid img {
  display: block;
  height: auto;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
/*  max-width: 100%;
*/}

.event-image:hover .overlay {
  opacity: 0.7;
}

.photo-grid .event-image:hover img {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  transform: scale(1.4);
}

.photo-grid .overlay {
  background: rgba(0,0,0,0.8);
  color: white;
  display: table;
  height: 100%;
  width: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
 }

footer img {
  height: auto;
  width: 20%;
  margin: 0 40% 0 40%;
}

/******************************************
/* SLIDE SHOW             
/*******************************************/

.current-image{
  max-height: 350px;
  width: auto;
  padding-right: 50px;
}

#slide-show {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.85);
}

.slide-show-content {
  position: relative;
  margin: 0 20% 0 20%;
  background-color: rgba(0, 0, 0, 0);
  top: 35px;
  width: 60%;
  min-width: 250px;
  max-width: 650px;
}

.slide-show-header {
  width: auto;
}

.slide-show-body {
  width: 100%;
  top: 25px;
  background-color: rgba(0, 0, 0, 0);
}

.slide-show-footer {
  padding: 20px 10px 10px 10px;
}

.slide-show-nav{
  float: right;
  width: 17%;
}

#slide-show-text {
  float: left;
  width: 65%;
}

/****SLIDE SHOW ICONS ***/
.material-icons:hover {
  cursor: pointer;
}

i#forward-button.material-icons {
  color: white;
  border: 1px solid white;
}

i#back-button.material-icons {
  color: white;
  border: 1px solid white;
}

i#close-slide-show.material-icons {
  color: white;
  font-size: 40px;
  float: right;
}

#slide-show-text {
  color: white;
}

*:focus {
  outline: none;
}

*:active {
  outline: none;
}

/*MIN-WIDTH: "If [device width] is more than or equal to [specified #], then do {...}*/
@media only screen and (min-width: 1280px){
  .header-image-container{
    width: 85%;
    margin: 0 7.5% 0 7.5%;
  }
}

/*MAX-WIDTH: "If [device width] is less than or equal to [specified #], then do {...}*/

@media only screen and (max-width: 875px) {
  .slide-show-nav{
    width: 15%;
  }

  #slide-show-text {
    width: 80%;
  }

}
@media only screen and (max-width: 936px)  {
  .header-image-container {
    min-height: 302px;
  }

  .header-text h1 {
    font-size: 4.85em;
    letter-spacing: 0.031em;
  }

  .header-text h3 {
    font-size: 0.975em;  
    padding-top: 15px;
  }

  .header-text h4 {
    font-size: 0.688em;
    letter-spacing: 2.6px;
    padding-top: 25px;
  }

  #see-photos i.material-icons {
    font-size: 3em;
  }

}

@media only screen and (max-width: 725px)  {
  .header-image-container {
    min-height: 260px;
  }

  .header-text h1 {
    font-size: 3.85em;
  }

  .header-text h3 {
    font-size: 0.875em;  
  }

  .header-text h4 {
    padding-top: 5px;
  }
  
  .slide-show-nav{
    float: right;
    width: 25%;
  }

  #slide-show-text {
    float: left;
    width: 70%;
  }  

}

@media only screen and (max-width: 576px)  {
  .header-image-container {
    min-height: 200px;
  }

  .header-text h1 {
    font-size: 2.75em;
  }

  .header-text h4 {
    padding: 0;
  }

  #see-photos {
    padding-top: 0;
  }

}

@media only screen and (max-width: 432px)  {

  .header-text{
    margin: 0px 5% 0 5%;
    width: 90%;
  }

  .header-text h1 {
    font-size: 2.45em;
    position: relative;
    bottom: 30px;
  }

  .header-text  h3 {
    padding: 0;
  }

  .header-text h3 {
    font-size: 0.675em;  
  }

  .header-text h4 {
    font-size: 0.675em;  
  }

  .slide-show-content {
    margin: 0 20% 0 10%;
    width: 60%;
  }

  .header-image-container {
    min-height: 170px;
  }

}




