/* 
Project Name: Event Page
Client: PureWow
Author: Benjamin Aplin
*/

/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
   -moz-box-sizing: border-box; /* Firexfox */
   -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
   box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
   color: #000;
   font-size: 12px;
   line-height: 1.4;
   font-family: Helvetica, Arial, sans-serif;
   outline-color: rgba(0, 0, 0, 0);
   border-color: rgba(0, 0, 0, 0);
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
.container {
   margin: 0 auto;
   padding: 5px;
}

/******************************************
/* NAV                  
/*******************************************/

.nav li a {
  width: 10%;
  padding-left: 0;
}

.nav li a:nth-child(2) {
  width: 10%;
  padding-left: 0;
}

.social-share {
  width: 135px;
  height: auto;
}
.nav-bar-text {
    font-family: 'Scheherazade', serif;
    font-size: 21px;
    padding: 20px 0 21px 12px;
    border-left: 1px grey solid;
    color: #383E3E;
  }

.nav-container {
  height: 70px;
}

/******************************************
/* HEADER/BANNER                  
/*******************************************/
#header-image {
  position: absolute;
  z-index: -100;
  
}

.header-text {
  text-align: center;
}

.header-text h1 {
    z-index: 100;
    font-family: 'Scheherazade', serif;
    color: #FFFFFC;
}

/******************************************
/* IMAGES                  
/*******************************************/


div.event-image {
   overflow: hidden;
   margin: 10px;
}

div.event-image img {
   display: block;
   height: auto;
   max-width: 100%;
   -webkit-transition: all 300ms;
   -moz-transition: all 300ms;
   transition: all 300ms;
}

div.event-image img:hover {
   opacity: .5;
   -webkit-transform: scale(1.4);
   -moz-transform: scale(1.4);
   transform: scale(1.4);
}

body {
  padding-top: 70px;
}

/******************************************
/* SLIDE SHOW             
/*******************************************/

.current-image{
  max-height: 350px;
  width: auto;
  padding-right: 50px;

}

#slide-show {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.85);
}

.slide-show-content {
  position: relative;
  margin: 0 25% 0 15%;
  background-color: rgba(0, 0, 0, 0);
  top: 35px;
  width: 60%;
  /*border: solid 1px red;*/
}

.slide-show-header {
  width: auto;
  /*border: solid 1px red;*/
}

.slide-show-body {
  width: 100%;
  top: 25px;
  background-color: rgba(0, 0, 0, 0);
  /*border: solid 1px red;*/
}

.slide-show-footer {
  padding: 20px 10px 10px 10px;
  /*border: solid 1px red;*/
}

.slide-show-nav{
  float: right;
  width: 11%;
}

#slide-show-text {
  float: left;
  width: 85%;
}

/****SLIDE SHOW ICONS ***/
.material-icons {
  color: white;
  margin-top: 10px;
}

.material-icons:hover {
  cursor: pointer;
}

i#forward-button.material-icons {
  border: 1px solid white;
}

i#back-button.material-icons {
  border: 1px solid white;
}

i#close-slide-show.material-icons {
  font-size: 48px;
  float: right;
}

#slide-show-text {
  color: white;
}

*:focus {
  outline: none;
}

*:active {
  outline: none;
}







