/* 
Project Name: Event Page
Client: PureWow
Author: Benjamin Aplin
*/

/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
   -moz-box-sizing: border-box; /* Firexfox */
   -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
   box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
   color: #000;
   font-size: 12px;
   line-height: 1.4;
   font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
.container {
   margin: 0 auto;
   padding: 5px;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/

div.event-image {
   overflow: hidden;
   margin: 10px;
}

div.event-image img {
   display: block;
   height: auto;
   max-width: 100%;
   -webkit-transition: all 300ms;
   -moz-transition: all 300ms;
   transition: all 300ms;
}

div.event-image img:hover {
   opacity: .5;
   -webkit-transform: scale(1.4);
   -moz-transform: scale(1.4);
   transform: scale(1.4);
}

body {
  padding-top: 70px;
}

.nav-container {
  height: 79px;
}
/******************************************
/* SLIDE SHOW             
/*******************************************/

.current-image{
  max-height: 350px;
  width: auto;
}

#slide-show {
  position: fixed;
  top: 79px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.85);
}

.slide-show-content {
  /*  position: relative;
*/  margin: 0 25% 0 15%;
  background-color: rgba(0, 0, 0, 0);
  top: 35px;
  width: 60%;
  border: solid 1px red;
}

.slide-show-header {
  width: auto;
  border: solid 1px red;
}

.slide-show-body {
 /*position: absolute;*/
  width: 100%;
  top: 25px;
  background-color: rgba(0, 0, 0, 0);
  border-top: 2px solid rebeccapurple;
  border: solid 1px red;
}

.slide-show-footer {
  padding: 20px 10px 10px 10px;
  border: solid 1px red;
}
/****ICONS ***/
.material-icons {
  color: white;
}

.material-icons:hover {
  cursor: pointer;
}

i#forward-button.material-icons, i#back-button.material-icons {
  border: 1px solid white;
  }

i#close-slide-show.material-icons {
  font-size: 48px;
  float: right;
}

/****ICONS ***/

.slide-show-nav{
  float: right;
}

#slide-show-text {
  color: white;
}

*:focus {
    outline: none;
}

*:active {
    outline: none;
}

body {
  outline-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}






