/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
.container {
     margin: 0 auto;
     padding: 5px;
}

.outer.container {
     border: black 1px solid;
     width: 960px;
     width: 80%;
}

.box {
     width: 30%;
     height: 100px;
     border: blue 1px solid;
     margin: 0 auto;
     overflow: scroll;
}

.top.container {
     border: green 1px solid;
     text-align: center;
     margin: 10px auto;
}

.top.container .box {
     display: inline-block;
}

.middle.container {
     border: red 1px solid;
     text-align: center;
     margin: 10px auto;
}

.middle.container .box {
     display: inline-block;
}

.bottom.container  {
     height: 150px;
     border: blue 1px solid;
     text-align: center;
     margin: 10px auto;
}

.bottom.container .box {
     display: inline-block;
     float: left;
}

p {
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/

div.event-image {
     overflow: hidden;
     margin: 10px;
}

div.event-image img {
     display: block;
     height: auto;
     max-width: 100%;
     -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
     transition: all 300ms;
}

div.event-image img:hover {
     opacity: .5;
     -webkit-transform: scale(1.4);
     -moz-transform: scale(1.4);
     transform: scale(1.4);
}


