/* 
Project Name: Event Page
Client: PureWow
Author: Benjamin Aplin
*/

/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
   -moz-box-sizing: border-box; /* Firexfox */
   -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
   box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
   color: #000;
   font-size: 12px;
   line-height: 1.4;
   font-family: Helvetica, Arial, sans-serif;
   outline-color: rgba(0, 0, 0, 0);
   border-color: rgba(0, 0, 0, 0);
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
.container {
   margin: 0 auto;
   padding: 5px;
}

/******************************************
/* NAV                  
/*******************************************/

.nav li a {
  width: 10%;
  padding-left: 0;
}

.nav li a:nth-child(2) {
  width: 10%;
  padding-left: 0;
}

.social-share {
  width: 8.438em;
  height: auto;
}
.nav-bar-text {
  font-family: 'Scheherazade', serif;
  font-size: 1.313em;
  padding: 20px 0 21px 12px;
  border-left: 1px grey solid;
  color: #383E3E;
}

.nav-container {
  height: 63px;
}

/******************************************
/* HEADER/BANNER                  
/*******************************************/

.header-image-container {
    background: url(../images/header-sized.jpeg);
    background-size: 100% 100%;
    min-height: 362px;
    min-width: 320px;
    background-repeat: no-repeat;
    position: relative;
    top: -6px;
  }

.header-text {
    margin: 0px 15% 0 15%;
    position: absolute;
    top: 100px;
    min-width: 288px;
    text-align: center;
    color: #FFFFFC;
    width: 70%;
}

.header-text h1 {
  text-align: center;
  z-index: 100;
  font-family: 'Scheherazade', serif;
  font-size: 6.250em;
  letter-spacing: 0.031em;
}

.header-text h3 {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;  
  letter-spacing: 0.163em;
  margin: 0 auto;
  position: relative;
  bottom: 23px;
}

.header-text h4 {
  font-size: 0.688em;
  letter-spacing: 2.6px;
  padding-top: 25px;

}
#see-photos {
  padding-top: 40px;
}
#see-photos i.material-icons {
  color: #EDE7E4;
  font-size: 66px;
}

#arrow-down {
  color: #EDE7E4;
}
/******************************************
/* IMAGES                  
/*******************************************/


div.event-image {
   overflow: hidden;
   margin: 10px;
}

div.event-image img {
   display: block;
   height: auto;
   max-width: 100%;
   -webkit-transition: all 300ms;
   -moz-transition: all 300ms;
   transition: all 300ms;
}

div.event-image img:hover {
   opacity: .5;
   -webkit-transform: scale(1.4);
   -moz-transform: scale(1.4);
   transform: scale(1.4);
}

body {
  padding-top: 70px;
}

/******************************************
/* SLIDE SHOW             
/*******************************************/

.current-image{
  max-height: 350px;
  width: auto;
  padding-right: 50px;
}

#slide-show {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.85);
}

.slide-show-content {
  position: relative;
  margin: 0 25% 0 15%;
  background-color: rgba(0, 0, 0, 0);
  top: 35px;
  width: 60%;
  /*border: solid 1px red;*/
}

.slide-show-header {
  width: auto;
  /*border: solid 1px red;*/
}

.slide-show-body {
  width: 100%;
  top: 25px;
  background-color: rgba(0, 0, 0, 0);
  /*border: solid 1px red;*/
}

.slide-show-footer {
  padding: 20px 10px 10px 10px;
  /*border: solid 1px red;*/
}

.slide-show-nav{
  float: right;
  width: 11%;
}

#slide-show-text {
  float: left;
  width: 85%;
}

/****SLIDE SHOW ICONS ***/
.material-icons:hover {
  cursor: pointer;
}

i#forward-button.material-icons {
  color: white;
  border: 1px solid white;
}

i#back-button.material-icons {
  color: white;
  border: 1px solid white;
}

i#close-slide-show.material-icons {
  color: white;
  font-size: 48px;
  float: right;
}

#slide-show-text {
  color: white;
}

*:focus {
  outline: none;
}

*:active {
  outline: none;
}

/*MIN-WIDTH: "If [device width] is more than or equal to [specified #], then do {...}*/


/*MAX-WIDTH: "If [device width] is less than or equal to [specified #], then do {...}*/

@media only screen and (max-width: 936px)  {
  .header-image-container {
    min-height: 302px;
  }

  .header-text h1 {
    font-size: 4.85em;
    letter-spacing: 0.031em;
  }

  .header-text h3 {
    font-size: 0.975em;  
    padding-top: 15px;
  }

  .header-text h4 {
    font-size: 0.688em;
    letter-spacing: 2.6px;
    padding-top: 25px;
  }

  #see-photos i.material-icons {
    font-size: 3em;
  }

}

@media only screen and (max-width: 725px)  {
  .header-image-container {
    min-height: 260px;
  }

  .header-text h1 {
    font-size: 3.85em;
  }

  .header-text h3 {
    font-size: 0.875em;  
  }

  .header-text h4 {
    padding-top: 5px;

  }

}

@media only screen and (max-width: 576px)  {
  .header-image-container {
    min-height: 200px;
  }

  .header-text h1 {
    font-size: 2.75em;
  }

  .header-text h4 {
    padding: 0;
  }

  #see-photos {
    padding-top: 0;
  }

}

@media only screen and (max-width: 432px)  {

.header-text{
      margin: 0px 5% 0 5%;
      width: 90%;

}

  .header-text h1 {
    font-size: 2.45em;
    position: relative;
    bottom: 30px;
  }

  .header-text  h3 {
    padding: 0;
  }

  .header-text h3 {
    font-size: 0.675em;  
  }

  .header-text h4 {
    font-size: 0.675em;  

  }

}




